# Problem Set 2 Shubham Chawla 200493036

## Question 1 Python
<p></p>
<li>Consider the following Python module:</li>
<p>a = 0</p>

<p>def b():</p>
<li>global a</li>
<li>a = c(a)</li>

<p>def c(a):</p>
<li>return a + 2</li>

<p>After importing the module into the interpreter, you execute:</p>

<p>>>> b()</p>
<li>>>> b()</li>
<li>>>> b()</li>
<li>>>> a</li>
<li>?</li>

<p>What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.</p>

In [2]:
# Defined a module 'ques1Module' saved in the same directory as Problem Set 2
# The code below is in the file ques1Module.py
a = 0

def b():
    global a
    a = c(a)
    
    
def c(a):
    return a + 2

In [1]:
import ques1Module as q1 # importing our module

#Each time function b is called, it calls function c which adds integer 2 to variable a
q1.b() # global variable a = 0 becomes a = 2 
q1.b() # global variable a = 2 becomes a = 4
q1.b() # global variable a = 4 becomes a = 6
q1.a # prints 6

6

'a' is defined as a global variable in the code, 'Function b' passes 'a' as an input parameter to 'Function c' and assigns the returned value to 'a'. 'Function c' add integer 2 to variable 'a'.

## Question 2 Python
<p></p>
<li>Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:</li>

<p>>>> fileLength('midterm.py')</p>
<li>284</li>
<li>>>> fileLength('idterm.py')</li>
<li>Traceback (most recent call last):</li>
<li>    File "pyshell#34>", line 1, in module></li>
<li>        fileLength('idterm.py')</li>
<li>    File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename)</li>
<li>FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'</li>

<p>As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:</p>

<p>>>> fileLength('midterm.py')</p>
<li>358</li>
<li>>>> fileLength('idterm.py')</li>
<li>File idterm.py not found.</li>

In [2]:
# Function to find length of the file
def fileLength(fileName):
    
    # using try and except block 
    try:
        file = open(fileName)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File {} not found.".format(fileName))

In [3]:
fileLength('Filelength.txt')

123

In [4]:
fileLength('length.txt')

File length.txt not found.

## Question 3 Python
<p></p>
<li>Write a class named Marsupial that can be used as shown below:</li>


<li>>>> m = Marsupial())</li>
<li>>>> m.put_in_pouch('doll')</li>
<li>>>> m.put_in_pouch('firetruck')</li>
<li>>>> m.put_in_pouch('kitten')</li>
<li>>>> m.pouch_contents()</li>
<li>['doll', 'firetruck', 'kitten']</li>

<p>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:</p>
<li>a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,</li>
<li>b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and</li>
<li>c. overloads the __str__ operator so it behaves as shown below.</li>

<li>>>> k = Kangaroo(0,0)</li>
<li>>>> print(k)</li>
<li>I am a Kangaroo located at coordinates (0,0)</li>
<li>>>> k.put_in_pouch('doll')</li>
<li>>>> k.put_in_pouch('firetruck')</li>
<li>>>> k.put_in_pouch('kitten')</li>
<li>>>> k.pouch_contents()</li>
<li>['doll', 'firetruck', 'kitten']</li>
<li>>>> k.jump(1,0)</li>
<li>>>> k.jump(1,0)</li>
<li>>>> k.jump(1,0)</li>
<li>>>> print(k)</li>
<li>I am a Kangaroo located at coordinates (3,0)</li>

In [5]:
class Marsupial:
    'appends items to a list'
    
    def __init__ (self):
        'initialize a list marList'
        self.marList = []
    
    def put_in_pouch(self, item):
        'appends items to the list'
        self.marList.append(item)
    
    def pouch_contents(self):
        'returns the list'
        return self.marList
    
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
class Kangaroo(Marsupial):
    'subclass of Marsupial'
    
    def __init__(self, xcoord, ycoord):
        'initialize xcoord and ycoord'
        Marsupial.__init__(self) #extending __init__ constructor of class Marsupial
        self.xcoord = xcoord
        self.ycoord = ycoord
    
    def jump(self, dx, dy):
        'changes the xcoord and ycoord values'
        self.xcoord += dx
        self.ycoord += dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.xcoord, self.ycoord)
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

In [7]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question 4 Python
<p></p>
<li>Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:</li>

<p>x = { 𝑥/2    𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛</p>
<li>     3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑</li>

<p>Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.</p>

<p>>>> collatz(1)</p>
<li>1</li>
<li>>>> collatz(10)</li>
<li>10</li>
<li>5</li>
<li>16</li>
<li>8</li>
<li>4</li>
<li>2</li>
<li>1</li>

In [8]:
def collatz(x):
    'prints Collatz Sequence starting at x using Recursion'
    print(x) 
    if x < 0:
        print("Please enter a positive integer.") # print a message if a negative number is passed
        
    elif x == 1: #case when x is 1
        pass # do nothing as we have the print function for this case in the third line of code
    
    elif x % 2 == 0: # check for even integers
        collatz(x//2) # using recusion
        
    else:# case when input integer is odd
        collatz((3*x)+1) # using recusion

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

## Question 5 Python
<p></p>
<li>Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.</li>

<p>>>> binary(0)</p>
<li>0</li>
<li>>>> binary(1)</li>
<li>1</li>
<li>>>> binary(3)</li>
<li>11</li>
<li>>>> binary(9)</li>
<li>1001</li>

In [11]:
def binary(x):
    'Function to print binary representation of integer n using recursion'
    try: 
        if x < 0:  # check for negative integer and raise value error if true
            raise ValueError

        elif x == 0 or x == 1:  # case when x is 0 or 1
            print(x, end = '')

        else:
            binary(x//2) # passing quotients after dividing by 2 as a value to the binary function recursively
            print(x%2, end = '') # printing the remainders
            
    except ValueError:
        print("Please enter a non-negative integer")

In [12]:
binary(0)

0

In [13]:
binary(1)

1

In [14]:
binary(3)

11

In [15]:
binary(9)

1001

## Question 6 Python
<p></p>
<li>Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser.</li>

<p>When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document.</p>

<p>Each heading should be indented as follows:</p>
<li>an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc.</li>
<li>Test your implementation using w3c.html.</li>

<p>>>> infile = open('w3c.html')</p>
<li>>>> content = infile.read()</li>
<li>>>> infile.close()</li>
<li>>>> hp = HeadingParser()</li>
<li>>>> binary(3)</li>
<li>>>> hp.feed(content)</li>
<li>W3C Mission</li>
<li>_Principles</li>

In [16]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    'class HeadingParser implemented as a subclass of HTMLParser'
    
    def __init__(self):
        'initializes the parser and a string variable headerTag'
        HTMLParser.__init__(self)
        self.headerTag = ''
    
    def handle_starttag(self, tag, attrs):
        'collect header tags'
        if tag in ['h1','h2','h3','h4','h5','h6']:
            self.headerTag = tag
            #print(self.headerTag) 
    
    def handle_data(self, attrs):
        'collects text/content inside the tag and print them according to the specified indentation'
        
        if self.headerTag in ['h1','h2','h3','h4','h5','h6']:
            self.headerTag = list(self.headerTag) #converting into list and splitting 'h' and the corresponding heading value
            #print(self.headerTag) # 'h1' becomes ['h','1']
            
            'adding indentation to the headings using the header values at index 1 from the list'
            indent = (int(self.headerTag[1])-1) * ' ' 
            print(indent + attrs)

In [17]:
infile = open('w3c.html') # testing on a file with 2 headings tags h1 and h2
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [18]:
infile = open('w3c_1.html') # testing on a file with 3 headings tags h1 and h2 and h3
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles
  Goals

## Question 7 Python
<li>Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent.</li>

<p>Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL.</p>

<p>As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.</p>

<p>>>>webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)</p>
<li>http://reed.cs.depaul.edu/lperkovic/test1.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/test2.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/test4.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/test3.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/test4.html:</li>

In [25]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class collectURL(HTMLParser):
    'collects hyperlinks into a list'
    
    def __init__(self, url):
        'initializes parser, url and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = [] # list for links
    
    def handle_starttag(self, tag , attrs):
        'collects URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absURL = urljoin(self.url, attr[1])
                    if absURL[:4] == 'http':
                        self.links.append(absURL)
                        
    def getLinks(self):
        return self.links

def webdir(url, dep, indent):
    'Recursive function to print each visited webpage URL reachable from the URL' 
    'Indentation depending on depth/clicks required to reach that page'
    content = urlopen(url).read().decode()
    collector = collectURL(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    if indent == 0:
        print(url)
    else:
        print(indent*' ',url)

    for url in urls:
        if dep > 0:
            #print(dep)
            webdir(url, dep - 1, indent+2) # using recursion

In [26]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
   http://reed.cs.depaul.edu/lperkovic/test2.html
     http://reed.cs.depaul.edu/lperkovic/test4.html
   http://reed.cs.depaul.edu/lperkovic/test3.html
     http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8 Python
<li>Write SQL queries on the below database table that return:</li>

<li>a) All the temperature data.</li>
<li>b) All the cities, but without repetition.</li>
<li>c) All the records for India.</li>
<li>d) All the Fall records.</li>
<li>e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</li>
<li>f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</li>
<li>g) The total annual rainfall for Cairo.</li>
<li>h) The total rainfall for each season.</li>

In [37]:
#!pip install ipython-sql
#%load_ext sql
#%sql sqlite://
%%sql
CREATE TABLE various_cities
(
    City        varchar(25),
    Country     varchar(25),
    Season      varchar(10),
    Temperature float,
    Rainfall    float
);

INSERT INTO various_cities
VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
12 rows affected.

[]

### a) All the temperature data.

In [38]:
%%sql
SELECT Temperature FROM various_cities

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### b) All the cities, but without repetition.

In [39]:
%%sql
SELECT DISTINCT City FROM various_cities

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### c) All the records for India.

In [40]:
%%sql
SELECT * FROM various_cities
WHERE Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### d) All the Fall records.

In [41]:
%%sql
SELECT * FROM various_cities
WHERE Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [42]:
%%sql
SELECT City, Country, Season FROM various_cities
WHERE Rainfall Between 200 AND 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [43]:
%%sql
SELECT City, Country, Temperature FROM various_cities
WHERE Season = 'Fall' AND Temperature > 20 
ORDER BY Temperature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

### g) The total annual rainfall for Cairo.

In [44]:
%%sql
SELECT sum(Rainfall) as 'Total Annual Rainfall in Cairo' FROM various_cities
WHERE City = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

### h) The total rainfall for each season.

In [53]:
%%sql
SELECT Season, round(sum(Rainfall),1) as 'Total Rainfall' FROM various_cities
GROUP BY Season

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9 Python
<li>Suppose list words is defined as follows:</li>
<li>>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</li>

<p>Write list comprehension expressions that use list words and generate the following lists:</p>

In [27]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Solution 9 a

In [28]:
res = [a.upper() for a in words]
print(res)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### Solution 9 b

In [29]:
res = [b.lower() for b in words]
print(res)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Solution 9 c

In [30]:
res = [len(c) for c in words]
print(res)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### Solution 9 d

In [31]:
res = [[d.upper(),d.lower(),len(d)] for d in words]
print(res)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### Solution 9 e

In [32]:
res = [e for e in words if len(e)>=4]
print(res)

['quick', 'brown', 'jumps', 'over', 'lazy']